.container{
    padding: 1rem;
}
.navbar{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbaroptionscontainer{
   display: flex;
   align-items: center;
   justify-content: center;

}
.buttonjoin{
    width: fit-content;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
    margin-top: 0.8rem;
    font-size: 1.2rem;
    background: rgb(197,44,208);
    color: white;
    padding-inline: 1.5rem;
    padding-block: 0.1rem;
    border-radius: 20px;
}