.Contanier{
    padding: 1.3rem;
    background: rgb(248, 247, 247);
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.backDropContainer{
    width: 90%;
    height: 30vh;
    background: url("../../../public/images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;

}
.backDropContainer img{
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: 5%;
  text-align: center;
}
.ProfileContainer_details{
    padding-top: 4rem;
}
.card{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.card_profileContanier{
    display: flex;
}
.card_profileContanier > img{
    width: 3.4rem;
    height: auto;
    height: 3.4rem;
    object-fit: cover;
}
.connection_btn{
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    background: rgba(3, 93,183, 0.905);
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
   
}
.connectionsButton{
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    background: rgba(3, 93,183, 0.905);
    outline: none;
    border: 1px solid ;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5rem;
}
.workHistoryContainer{
    display: flex;
   
    
    gap:2rem;
    padding-top: 1.4rem;
    width: 100%;
    flex-wrap: wrap;
}
.workHistoryCard{
   min-width: fit-content;
   padding-inline: 2.5rem;
   padding-block: 1rem;
   border-radius: 10px;
   box-shadow:  10px 10px 15px rgb(173,173,173);
   margin-left: 4rem;
}
